@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
.footer-container{
    display: flex;
    justify-content: center;
}
.top-info{
    width: 50%;
}
.top-img{
    width: 50%;
}
.top-img img{
    width: 581px;
    height: 613px;
}
.full-banner{
    display: flex;
    background-color: black;
    width: 1100px;
    border-radius: 15px;
    padding: 100px;
}
.top-banner, h1, p{
    color: white;
}
.live{
    color: white;
    background-color: red;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 1.0rem;
    font-weight: bolder;
}
/*--------- footer end ----------*/

/*------------ main start------- */
.match-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    background-color: black;
    width: 200px;
    height: 190px;
    border-radius: 10px;
}
.match-area a{
  text-decoration: none;
}
.football-math{
   display: flex;
   justify-content: center;
}
.match-button{
    padding: 20px auto;
    margin: 15px;
    width: 150px;
    height: 30px;
    display: block;
    margin: 10px 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
}
.match-blog{
    background-color: red;
}
.player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player-info{
    width: 315px;
    background-color: aliceblue;
    margin: 30px;
    border-radius: 10px;
}
.player-info button{
    display: block;
}
.country-img{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.match-time{
    color: black;
}
.country-img .img-2{
    padding: 0 10px;
}
.football-time{
    text-align: center;
}
.clock img{
    margin: 0;
    padding: 0;
}
.clock-time{
    margin-right: 20px;
}
/*---------- main end -----------*/

/*------------ footer start -----------*/
footer{
    background-color: black;
}
footer h2{
    padding-top: 20px;
    color: aliceblue;
    text-align: center;
    top: 30px;
}
.hr{
    height: 0.1rem;
    background-color: white;
    border: none;
}
.goal p{
    padding: 15px;
    color: white;
}